[Unit]
Description=Social Network uWSGI service

[Service]
ExecStart=/usr/bin/uwsgi %(project_uwsgi_config_filepath)s
Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
