{% extends 'base.html' %}

{% block title %}{{ current_user }} - Social Network{% endblock title %}

{% block content %}
  <h1>Here will be personal page of {{ current_user }}</h1>
    {% if current_user.avatar %}
      <img src="{{ current_user.avatar.url }}" alt="">
    {% endif %}

    <h2>About me:</h2>
    {% if current_user.description %}
        <p>{{ current_user.description }}</p>
    {% else %}
        <p>No description.</p>
    {% endif %}

    {% if can_edit_profile %}
      <h2><a href="{% url 'users:user_edit' current_user.pk %}">Edit profile</a></h2>
    {% endif %}

    {% if can_add_to_friends %}
        <form action="{% url 'users:add_to_friends' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="friend_id" value="{{ current_user.id }}">
          <button type="submit">Add to friends</button>
        </form>
    {% endif %}
{% endblock content %}